<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>hello world from ejs</h1>
    <div class="container">
        <h1>todo list</h1>
        <form action="/" method="post">
            <input type="text" placeholder="all todos" name="todoValue">
            <button type="submit">Add</button>

        </form>
        <% if(data) {%>
<% data.forEach(todoValue=>{%>
    <div class="todo-container">
        <div class="todo-value"><%=todovalue.todo%></div>
        <a href="" class="todo-delete">Delete</a>
    </div>

<%})%>
            <% } %>
    </div>
</body>
</html>